<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/misRecetas.css">
    <script defer src="../../utils/misRecetas.js"></script>
    <title>Mis recetas</title>
</head>
<body>
    
    <div id="menu-contenedor">
        <ul id="menu">
            <li><a href="principal.html">Recetas</a></li>
            <li><a href="login.html">Cerrar sesion</a></li>
        </ul>
    </div>
   
    <div id="recetas"></div>

    <template id="template-recetas">

        <div class="card">
            <img src=""/>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
        </div>

    </template>



</body>
</html>