<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/principalStyles.css"/>
    <title>Menu</title>
    <script defer src="../../utils/app.js"></script>
</head>
<body>

    <div id="menu-contenedor">
        <ul id="menu">
            <li><a href="misRecetas.html">Mis recetas</a></li>
            <li><a href="login.html">Cerrar sesion</a></li>
        </ul>
    </div>


    <div class="container">
        <div id="contenedor-busqueda">
            <input id="txt-buscar" placeholder="Type a dish name here"/>
            <button id="btn-buscar">Buscar</button>
        </div>
        <div id="result"> </div>
    </div>
   
   
</body>
</html>