<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <title>Login</title>
</head>
<body>
    
    <form method="post">
        <h1>Login</h1>
        <input type="text" class="input" placeholder="User name" required/>

        <input type="password" class="input" placeholder="Password" required/>
         <a href="../views/newUser.html">No tienes cuenta?</a>
        <button type="submit">Login</button>
    </form>

</body>
</html>