<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/newUser.css"/>
    <title>Register New User</title>
</head>
<body>
    
    <form id="singupForm" action="/singUp" method="post">
        <label>User name</label> <input type="text" id="username" name="username" required/>
        <label>Password</label> <input type="text" id="password" name="password" required/>
        <button type="submit" >Register</button>
    </form>

</body>
</html>