<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/principalStyles.css"/>
    <title>Menu</title>
</head>
<body>

    <div class="container">
        <div id="contenedor-busqueda">
            <input id="txt-buscar" placeholder="Type a dish name here"/>
            <button id="btn-buscar">Buscar</button>
        </div>
        <div id="result"> </div>

    </div>
   
  
    <script src="../utils/app.js"></script>
</body>
</html>