<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/principalStyles.css"/>
    <title>Menu</title>
</head>
<body>

    <aside class="menu">
        <h2>Menu</h2><img src="../assets/menu_2976215.png"/>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Recetas</a></li>
            <li><a href="#">Cerrar sesion</a></li>
        </ul>
    </aside>

    <div id="contenedor-busqueda">
        <input id="txt-buscar" placeholder="Type a dish name here"/>
        <button id="btn-buscar">Buscar</button>
    </div>

    <script src="../utils/app.js"></script>
</body>
</html>