*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../../assets/background2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    
}

img{
    display: block;
    width: 50%;
    margin:1.8em auto 0 auto  ;
}

.container{
   background-color: #ffffff;
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top:8em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.5 rgba(42, 32,0,0.2);
}

#contenedor-busqueda{
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}



#txt-buscar{
    border: none;
    border-bottom: 2px solid black;
    font-size: 25px;
    
}


#btn-buscar{
    border: none;
    background-color: #f4c531;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}

#recipe{
    position: absolute;
    background-color: #ffffff;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    display: none;
}

#recipe pre{
    white-space: pre-wrap;
    word-break: break-word;
    padding: 2.5em 1.2em 1.2em;
}

#hide-recipe{
    font-size:1em;
    position: relative;
    width:1.8;
    height: 1.8em;
    background-color: #f4c531;
    border: none;
    top:1.2em;
    left:90%;
    border-radius: 0.3em;
}

.details{
    background-color: #f4c531;
    position: relative;
    margin: 4.3em auto 0 0;
    text-align: center;
    padding:0.6em 0;
}

.details h2{
    font-size: 1.2em;
    font-weight: 600;
}

.details h4{
    font-size: 1em;
    font-weight: 400;
}

#show-recipe{
    font-size: 1em;
    position: relative;
    left: 30%;
    padding: 0.9em 0.6em;
    background-color: #f4c531;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 600;
    cursor: pointer;
}

ul{
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap:0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
}

@media screen and (max-width:500px){
    .container{
        font-size: 14px;
    }
}

#menu-contenedor{
    background-color: tomato;
    width: 30%;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
}

#menu{
    display: flex;
    justify-content: center;
    gap: 20%;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: white;
}

#btn-guardar{
    font-size: 1em;
    position: relative;
    padding: 0.9em 0.6em;
    background-color: #f4c531;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 600;
    cursor: pointer;
}