*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../assets/kitchenB.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

form{
    box-shadow: rgba(0, 0, 0, .2);
    border: 2px solid peru;
    border-radius: 10px;
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    backdrop-filter: blur(5px);
    gap: 15px;
}

.input{
    background: transparent;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

.input::placeholder{
    color: #fff;
}

button{
    border-radius: 10px;
    width: 50%;
    padding: 2px;
}