*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/assets/kitchenB.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

form{
    border: 2px solid black;
    height: 200px;
    width: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    backdrop-filter: blur(5px);
}

input{
    background: azure;
    padding: 5px 20px;

    border-radius: 10px;
    color:black;
}

button{
    border-radius: 10px;
    padding: 5px 15px;
    background-color: tomato;
    border: none;
}

